{% load tags %}{% load static %}
<header>
    <!-- Background video -->
    <div id="intro" class="bg-video-container position-fixed w-100 h-100">
        <!--<video class="w-100 h-100 position-absolute top-0 start-0" style="object-fit: cover;" playsinline autoplay muted loop>
            <source src="{% static 'videos/Lines.mp4' %}" type="video/mp4" />
        </video>-->
        <div class="mask-custom custom-1 position-absolute w-100 h-100" style="background: linear-gradient(45deg, rgba(1,13,62,0.7), rgba(91, 14, 214, 0.7) 100%);"></div>
    </div>
</header>
