{% load tags %}

<div id="toast-container" style="position: fixed; top: 20px; right: 20px; z-index: 1055;">
    {% if messages %}
        {% for message in messages %}
            <div class="toast show fade toast-{{ message.tags }}" role="alert" aria-live="assertive" aria-atomic="true" data-mdb-autohide="true" data-mdb-delay="3000">
                <div class="toast-header toast-{{ message.tags }}">
                    <i class="fas fa-check fa-lg me-2"></i>
                    <strong class="me-auto">BitQuest</strong>
                    <button type="button" class="btn-close" data-mdb-dismiss="toast" aria-label="Close"></button>
                </div>
                <div class="toast-body">
                    {{ message }}
                </div>
            </div>
        {% endfor %}
    {% endif %}
</div>